body{
background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);

}
.carousel-inner {
	padding: 1.5em;
}

.card {
	margin: 0 0.5em;
	box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
	border: none;
	
}
.card-admin {
	margin: 0 2em;
	border: none;
	
}

.carousel-control-prev, .carousel-control-next {
	background-color: #e1e1e1;
	width: 6vh;
	height: 6vh;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
}

@media ( min-width : 768px) {
	.carousel-item {
		margin-right: 0;
		flex: 0 0 12.5%;
		display: block;
	}
	.carousel-inner {
		display: flex;
		
	}
}

.card .img-wrapper {
	max-width: 100%;
	height: 15em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card img {
	max-height: 100%;

}

#wrapper{
		color:#424957;
		font-weight: 700;
}
#masthead {
	min-height:150px;
		color:#424957;
}

#masthead h1 {
	font-size: 55px;
	line-height: 1;
}

#masthead .well {
	margin-top:13%;
	background-color:#111155;
  	border-color:#000033;
}

